body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: skyblue;
    text-align: center;
}
nav {
    background-color: orangered;
    padding: 14px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}
#footer {
    background-color: yellow;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#heading
{
    background-color: yellow;
    height:50px;
    color: whitesmoke;
}